@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #09090b; /* Ekdum dark hacker wali vibe */
  color: #fafafa; /* Text ka color off-white */
  font-family: Arial, sans-serif;
}